.vscode
adoptionapp/__pycache__
/apps/persons/__pycache__/*
/apps/persons/migrations/*
/apps/species/__pycache__/*
/apps/species/migrations/*
/apps/employees/__pycache__/*
/apps/employees/migrations/*
/apps/adopters/__pycache__/*
/apps/adopters/migrations/*