.vscode
.env
adoptionapp/__pycache__
/apps/persons/__pycache__/*
/apps/persons/migrations/*
/apps/species/__pycache__/*
/apps/species/migrations/*
/apps/employees/__pycache__/*
/apps/employees/migrations/*
/apps/adopters/__pycache__/*
/apps/adopters/migrations/*
/apps/vaccines/__pycache__/*
/apps/vaccines/migrations/*
/apps/breeds/__pycache__/*
/apps/breeds/migrations/*
/apps/characteristics/__pycache__/*
/apps/characteristics/migrations/*
/apps/animals/__pycache__/*
/apps/animals/migrations/*
/apps/adoptions/__pycache__/*
/apps/adoptions/migrations/*
/apps/adoptionterm/__pycache__/*
/apps/adoptionterm/migrations/*
/apps/vaccination/__pycache__/*
/apps/vaccination/migrations/*
/venv/*
/apps/vaccineItens/__pycache__/*
/apps/vaccineItens/migrations/*


