{% extends 'base.html' %}

{% block title %}

    Lista de Funcionarios - {{ block.super }}

{% endblock title %}

{% block body %}

<br />
    <a href="{% url 'employees:add_employee' %}">Cadastro de novo funcionario</a>
<br />
<br />
<b>Lista de Funcionarios</b></h5>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>CPF</th>
        <th>Perfil</th>
        <th>Cargo</th>
        <th>Data de nascimento</th>
        <th>Data de contratação</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
        <tr>
            <td>{{ employee.register }}</td>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.cpf }}</td>
            <td>{{ employee.profile }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.birth_date }}</td>
            <td>{{ employee.hire_date }}</td>
            <td>
                <a href="{% url 'employees:edit_employee' employee.register %}">Editar</a>
            </td>
            <td>
                <a href="{% url 'employees:delete_employee' employee.register %}">Excluir</a>
            </td>
        </tr> 
    {% endfor %}
    </tbody>
</table>


{% endblock body %}